<mat-grid-list cols="2" rowHeight="3:1">
  <mat-grid-tile>
    <form
      class="form"
      [formGroup]="formCoal"
      (ngSubmit)="addCoalData()"
      #coalForm="ngForm"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Введите расход угля (тонн).</mat-label>
        <input matInput formControlName="value" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Укажите дату</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="formCoal.invalid"
      >
        Добавить данные
      </button>
    </form>
  </mat-grid-tile>

  <mat-grid-tile>
    <form
      class="form"
      [formGroup]="formGas"
      (ngSubmit)="addGasData()"
      #gasForm="ngForm"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Введите расход газа (тыс. м3).</mat-label>
        <input matInput formControlName="value" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Укажите дату</mat-label>
        <input matInput [matDatepicker]="picker_2" formControlName="date" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker_2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker_2></mat-datepicker>
      </mat-form-field>

      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="formGas.invalid"
      >
        Добавить данные
      </button>
    </form>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="isChartDataEmpty()" rowspan="2" colspan="2">
    <div
      echarts
      [options]="chartOption"
      [merge]="merge"
      class="chart"
      (chartInit)="onChartInit($event)"
    ></div>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="isChartDataEmpty()" rowspan="2" colspan="2">
    <apx-chart
      #chart
      class="chart"
      [series]="chartOptions2.series!"
      [chart]="chartOptions2.chart!"
      [xaxis]="chartOptions2.xaxis!"
      [stroke]="chartOptions2.stroke!"
      [tooltip]="chartOptions2.tooltip!"
      [dataLabels]="chartOptions2.dataLabels!"
    ></apx-chart>
  </mat-grid-tile>
</mat-grid-list>
